.footer {
  background-color: var(--primary-dark-bg-color);
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
  &__flex {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  &__flex-min {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      justify-content: start;
    }
  }
  &__contacts {
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      justify-content: start;
    }
  }
  &__logo {
    margin-bottom: 20px;
    &__white {
      color: var(--primary-white-color);
    }
  }
  &__address {
    font-style: normal;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-white-color);

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    &__link {
      color: rgba(255, 255, 255, 0.6);
      transition-property: color;
      transition-duration: var(--primary-duration);
      transition-timing-function: var(--timing-function);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
  &__social {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }
  &__social-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__form-box {
    @media screen and (min-width: 1200px) {
      margin-right: 0;
      margin-left: auto;
      padding-top: 12px;
    }
  }
  &__form-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);

    @media screen and (max-width: 1190px) {
      text-align: center;
    }
  }
  &__form {
    &__input {
      outline: none;

      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      height: 50px;

      background-color: var(--ptimary-dark-bg-color);
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.6);
      transition-property: border-color;
      transition-duration: var(--primary-duration);
      transition-timing-function: var(--timing-function);

      @media screen and(max-width:767px) {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
      }
      @media screen and(min-width:768px) {
        width: 450px;
        margin-left: 168px;
        margin-right: 152px;
        margin-bottom: 20px;
      }
      @media screen and(min-width:1200px) {
        width: 358px;
        margin-left: auto;
        margin-right: 12px;
        margin-bottom: 0px;
      }
    }
    &__input:hover,
    &__input:focus {
      border-color: var(--accent-color);
    }
    &__submit {
      position: relative;
      margin-left: 12px;
      width: 200px;
      height: 50px;
      padding: 10px 62px 10px 28px;
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;

      color: #ffffff;

      background: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
    &__icon {
      position: absolute;
      top: 13px;
      left: 148px;

      width: 24px;
      height: 24px;

      fill: var(--primary-white-color);
    }
  }
}
