.header {
  border-bottom: 1px solid #ececec;
  &__container {
    position: relative;
    display: flex;
  }
  &__logo {
    @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.contacts-nav {
  margin-right: 0;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
